<div class="bc">
<div class="container">
    <h1>To-Do List</h1>
    <div style="display: flex; justify-content: center;">
        <form id="submitForm" (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
            <div class="form-group" style="display: flex;">
                <input type="text" class="form-control" id="task" placeholder="Enter list" ngModel name="task" required>
                <button [disabled]="taskForm.invalid" id="submitButton" type="submit" class="btn btn-primary">ADD</button>
            </div>
            <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage" class="form-text text-danger">Required field</small>
        </form>
    </div>
    <br>
    <table class="table" >
        <thead>
                <th scope="col">&nbsp;&nbsp;&nbsp;Status</th>
                <th scope="col">&nbsp;&nbsp;&nbsp;List Name</th>
                <th scope="col">&nbsp;&nbsp;&nbsp;Delete</th>
                <th scope="col">&nbsp;&nbsp;&nbsp;Edit</th>
                <th scope="col">&nbsp;&nbsp;&nbsp;Save</th>
        </thead>
        <tbody>
            <tr *ngFor="let t of taskArray; index as i">
                <td><input (change)="onCheck(i)" id="myCheckbox" type="checkbox"[checked]="t.isCompleted"></td>
                <td>

                    <input [ngClass]="{'edit': t.isEditable, 'not-edit': !t.isEditable, 'crossed': t.isCompleted}"
                        #taskinput type="text" class="form-control" id="taskInTable" value="{{t.taskName}}"
                        [readOnly]="!t.isEditable" class="text1">
                </td>
                <td><button id="delete" class="btn btn-danger btn-sm" (click)="onDelete(i)"></button></td>
                <td><button id="edit" class="btn btn-primary btn-sm" (click)="onEdit(i)"
                        [disabled]="t.isEditable">Edit</button></td>
                <td><button id="save" class="btn btn-warning btn-sm" (click)="onSave(i, taskinput.value)"
                        [disabled]="!t.isEditable">Save</button></td>
            </tr>

        </tbody>
    </table>
</div>
</div>